@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: inside;
  /* outline: 1px solid red; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d1216;
  color: white;
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 30px;
  background-color: #171f25ea;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-links {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  padding: 10px 30px;
  border-radius: 5px;
  transition: all 200ms ease;
  color: white;
  margin-right: 20px;
}

.nav-links a:hover {
  background-color: #cc6ce680;
  border-radius: 5px;
  transition: all 200ms ease;
}

.active {
  padding: 10px 30px;
  background-color: #cc6ce62f;
  border-radius: 5px;
}

nav h2 {
  color: white;
}

.bck-img {
  background: url(images/Welcome-to-My-Portfolio.png);
  width: 60%;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}

.bio {
  background-color: #2526277e;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px;
  border-radius: 10px;
}

.cv {
  text-align: center;
}

.personal-summary {
  font-weight: 300;
  max-width: 40%;
  text-align: justify;
  padding-right: 30px;
}

.personal-summary h2 {
  margin-bottom: 10px;
}

.skills-contact {
  background-color: #2526277e;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
}

.skills {
  min-width: 200px;
}

hr {
  width: 100%;
  margin: 40px 0;
  border: 1px solid #cc6ce62f;
}

.line-mobile {
  display: none;
}

.skills h3 {
  font-weight: 500;
}

.skills ul {
  margin-top: 20px;
}

.skills ul li {
  font-weight: 300;
  margin: 10px 0px;
}

.contact {
  list-style: none;
}

.contact h3 {
  font-weight: 500;
}

.contact ul li {
  font-weight: 300;
  margin: 40px 0px;
}

.contact a {
  min-width: 168.97px;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  background-color: #cc6ce62f;
  color: white;
  border-radius: 5px;
  transition: all 200ms ease;
}

.contact a:hover {
  background-color: #cc6ce680;
  border-radius: 5px;
  transition: all 200ms ease;
}

.download-button {
  min-width: 168.97px;
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #cc6ce62f;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 200ms ease;
}

.download-button:hover {
  background-color: #cc6ce680;
  border-radius: 5px;
  transition: all 200ms ease;
}

main {
  position: relative;
}

main img {
  position: fixed;
  top: 600px;
  right: 500px;
  z-index: -100;
}

/* ------------------------------PROJECT PAGE-------------------------------------------- */
.projects {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.125rem, 1fr));
  gap: 2rem;
  margin: 0 auto;
  margin-top: 60px;
}

.project {
  text-align: center;
}

.project h2 {
  font-weight: 200;
  font-size: 1.4rem;
  cursor: pointer;
  display: inline-block;
}

.project h2:hover {
  color: #cc6ce680;
}

iframe {
  border-radius: 10px;
}

/* --------------------------------------MODAAL WINDOW---------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}

.modal-content {
  color: white;
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  /* background-color: rgba(255, 255, 255, 0.123); */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: rgba(128, 128, 128, 0.13);
  padding: 7px 20px;
  border-radius: 50%;
}

.close-btn:hover {
  background-color: rgba(128, 128, 128, 0.3);
  transition: background-color 0.3s ease;
}

#prevVideo {
  position: absolute;
  top: 45%;
  left: 4px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: rgba(128, 128, 128, 0.082);
  padding: 18px 20px;
  border: none;
  border-radius: 50%;
}
#nextVideo {
  position: absolute;
  top: 45%;
  right: 4px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: rgba(128, 128, 128, 0.082);
  padding: 18px 20px;
  border: none;
  border-radius: 50%;
}

#nextVideo:active,
#prevVideo:active {
  background-color: rgba(128, 128, 128, 0.3);
  transition: background-color 0.3s ease;
}

#modalTitle {
  font-weight: 200;
  font-size: 1.4rem;
}

@media (max-width: 48rem) {
  .cv {
    display: none;
  }

  .bio {
    width: 85%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .skills-contact {
    display: block;
    width: 85%;
    padding: 20px;
    margin-top: 30px;
  }

  .contact {
    margin-top: 30px;
  }

  .contact h3 {
    margin-bottom: 0px;
  }

  .contact ul li {
    margin: 20px 0px;
    font-size: 0.9rem;
  }

  .line-mobile {
    display: block;
  }

  .personal-summary {
    max-width: 100%;
    text-align: justify;
    padding-right: 0;
    font-size: 0.9rem;
  }

  .personal-summary h2 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .bck-img {
    background: url(images/Welcome-to-My-Portfolio.png);
    width: 95%;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
  }

  nav {
    padding: 30px 10px;
  }

  nav h2 {
    font-size: 1rem;
    white-space: nowrap;
  }

  .nav-links {
    justify-content: space-between;
  }

  .nav-links a {
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all 200ms ease;
    color: white;
    margin: 0;
  }

  main img {
    top: 60px;
    right: 0px;
  }
}
